
{% block content %}
    <h1>Make a new account</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Create account</button>
    </form>
{% endblock %}
