

{% block content %}
    <h1>Create a new account with Friendly Credit Union</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Create account</button>
    </form>
{% endblock %}
